extends shared/layout
block body
  body
    .wrapper
      header.header
        a.header__logo.logo(href='#')
          img.logo__image(src='/img/icons/logo-image-only.svg', alt='Typoteka logo')
          span.logo__name Typoteka
        nav.header__nav
          ul.header__nav-list
            li.header__list-item
              p Name Surname
            li.header__list-item
              a.header__exit(href='#') Logout
        a.header__avatar.avatar
          img(src='/img/avatar-2.png', alt='User avatar')
        a.header__search.button.button--search(href='/search', aria-label='search')
      main
        section.post
          h1.visually-hidden Article
          section.post__content
            h2.visually-hidden Main content
            .post__wrapper
              .post__head
                a.post__backwards.button.button--backwards(href='#') Back
                time.post__date(datetime=article.createdDate) #{article.createdDate}
                h2.post__title.title.title--main #{article.title}
                ul.post__themes.themes
                  each category of article.category
                    li.themes__item
                      a.themes__item-link(href='#')
                        | #{category}
                        //sup 88
                      button.themes__remove-btn(type='button') Remove category
              if article.image
                .post__picture
                  img(src=article.image, alt=article.title)
              .post__text
                p #{article.fullText}
          .post__wrapper.post__wrapper--comments
            section.post__comments.comments
              h2.comments__title.title.title--middle Comments
              ul.comments__list
                each comment of article.comments
                  li.comments__comment
                    //.comments__avatar.avatar
                    //  img(src='/img/avatar-1.png', alt='аватар пользователя')
                    .comments__text
                      //.comments__head
                      //  p Евгений Петров •
                      //  time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                      p.comments__message #{comment.text}
      include shared/footer
    include shared/scripts

