extends shared/layout
block body
  body
    .wrapper
      include shared/header
      main
        section
          .popup.popup--new-publication.popup--anti
            .new-publication
              form(action="#" method="post" enctype="multipart/form-data", autocomplete="off")
                .new-publication__header
                  h1 New article
                  .new-publication__date-form
                    h3 Date of publication
                    .new-publication__date-form-division
                      .new-publication__date-block
                        label(for='new-publication-date', aria-label='Calendar')
                        input#new-publication-date(type='text', name='createdDate', placeholder='2019-03-21')
                  button.new-publication__button.button.button--colored(type='submit') Publish
                a.popup__button.button.button--popup-close(aria-label='Close') Close
                .new-publication__form.form
                  .form__wrapper.form__wrapper--intro
                    .form__field
                      - const titlePrefill = (prefill && prefill.title) ? prefill.title : ``;
                      label
                        input(type='text', name='title', placeholder='Title', required, value=titlePrefill)
                    .form__field.form__field--post-image
                      label
                        input#image-name-field(type='text', name='image', placeholder='Image', readonly)
                      .form__image-loader.form__image-loader--publication
                        label
                          input.visually-hidden(type='file', name='upload')
                          | Upload
                    .form__field
                      each category in categories
                        - const categoryPreChecked = (prefill && prefill.category) && prefill.category.includes(category)
                        label #{category}
                          input(type='checkbox', name='category[]', value=category, checked=categoryPreChecked)
                    //.new-publication__category-wrapper
                    //  a.new-publication__form-link.button.button--transparent(href='#') Add category
                  .form__wrapper.form__wrapper--text
                    .form__field.form__field--publication-text
                      - const announcePrefill = (prefill && prefill.announce) ? prefill.announce : ``;
                      label
                        textarea(rows='5', name='announce', placeholder='Announce') #{announcePrefill}
                    .form__field.form__field--publication-text
                      - const fullTextPrefill = (prefill && prefill.fullText) ? prefill.fullText : ``;
                      label
                        textarea(rows='10', name='fullText', placeholder='Full text') #{fullTextPrefill}
      include shared/footer
    include shared/scripts
